@import "Buttons";

.homepage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  // background-position-y: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}

.homepage::after {
  width: 102%;
  height: 102%;
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.438);
  z-index: 5;
}

.hero {
  text-align: center;
  color: white;
  z-index: 10;
}

.emailBox {
  border: none;
  height: 1rem;
  width: 26rem;
  margin-right: 1rem;
  margin-top: 2rem;
  padding: 0.8rem;
}

.startBtn {
  @include startBtn;
}
