.profileInfo {
  padding: 6rem;
  // border: 1px solid white;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.4) 0%,
    rgba(160, 67, 67, 0) 60%
  );
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 0.3rem;
  }
}
