@import "Buttons";

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-position-y: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  background-color: white;
  color: rgb(0, 0, 0);
}

.signupHeader {
  text-align: center;
}

.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.signupInput {
  border: 1px solid grey;
  padding: 1rem;
  width: 20rem;
  margin-bottom: 0.8rem;
}

.signupBtn {
  @include startBtn;
  width: 22rem;
}
